---
import type { MarkdownHeading } from "astro";
import Announcement from "./Announcement.astro";
import Categories from "./Categories.astro";
import Music from "./Music.astro";
import Profile from "./Profile.astro";
import Tag from "./Tags.astro";
import { siteConfig } from "@/config";

interface Props {
	class?: string;
	headings?: MarkdownHeading[];
}

const className = Astro.props.class;
const musicEnabled = siteConfig.musicPlayer.enable;
---
<div id="sidebar" class:list={[className, "w-full"]}>
    <div class="flex flex-col w-full gap-4 mb-4">
        <Profile></Profile>
        <Announcement class="onload-animation" style="animation-delay: 100ms" />
    </div>
    <div id="sidebar-sticky" class="transition-all duration-700 flex flex-col w-full gap-4 sticky top-[5.5rem]">
        {musicEnabled && (
            <Music class="onload-animation" style="animation-delay: 150ms" />
        )}
        <Categories class="onload-animation" style="animation-delay: 200ms"></Categories>
        <Tag class="onload-animation" style="animation-delay: 250ms"></Tag>
    </div>
</div>
